<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The <span><strong>atomes</strong></span> workspace file allows to store:</p>
<ul>
<li><p>A collection of <span><strong>atomes</strong></span> projects.</p></li>
<li><p>The relations between these projects, data exchanges, comparisons ...</p></li>
</ul>
<p>Again the idea is to be able to resume work exactly where it was before saving the <span><strong>atomes</strong></span> workspace file.<br />
<br />
The <span><strong>atomes</strong></span> workspace files have the extension: <span><strong>.awf</strong></span><br />
<br />
To open <span><strong>atomes</strong></span> workspace file use the "<span><code>Open Workspace</code></span>" dialog [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-3#owpf" data-reference-type="ref" data-reference="owpf">3.8</a>].<br />
This can be done using alternatively:</p>
<ul>
<li><p>The workspace menu.</p></li>
<li><p>The right click menu obtained with the mouse button of the workspace tree.</p></li>
<li><p>The keyboard shortcut <kbd>Ctrl</kbd>+<kbd>w</kbd> on top of the <span><strong>atomes</strong></span> program main window.</p></li>
</ul>
<p>Only a single <span><strong>atomes</strong></span> workspace file can be opened at a time, if needed close the opened workspace, then open the new one:</p>
<div id="owpf">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/atomes-awf-w.png" id="owpf" style="width:19.5cm" alt="The &quot;Open Workspace&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.8:</span></strong> The "<span><code>Open Workspace</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
