<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The list of the supported format of atomic coordinates is presented in appendix <a href="/atomes-doc/appendix/app-1/" data-reference-type="ref" data-reference="inout">1</a>.<br />
<a href="https://isaacs.sourceforge.net">ISAACS</a> files contains all the information required to prepare analysis and visualization. For the other file formats, and after reading the atomic coordinates, dialog boxes appears automatically in the following order:</p>
<h5 class="unnumbered" id="the-chemistry-and-physics-dialog-fig.-cpd">1) The "<span><code>Chemistry and physics</code></span>" dialog [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-1#cpd" data-reference-type="ref" data-reference="cpd">3.4</a>]</h5>
<div id="cpd">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/atomes-cpd.png" id="cpd" style="width:8cm" alt="The &quot;Chemistry and physics&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.4:</span></strong> The "<span><code>Chemistry and physics</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>This dialog allows to tweak the chemical and physical properties of the elements found in the coordinates file (see figure <a href="/atomes-doc/chap-3/section-3/sub-section-1#cpd" data-reference-type="ref" data-reference="cpd">3.4</a>).<br />
Particular attention should be given to the selection of the neutrons and X-rays scattering length, for the former parameters are included in <span><strong>atomes</strong></span> (see chapter <a href="/atomes-doc/appendix/app-6/" data-reference-type="ref" data-reference="datab">6</a>), for the latter two possibilities are offered to the user:</p>
<ul>
<li><p>Use the exact Q dependent method to compute X-rays S(Q) related properties.</p></li>
<li><p>Use an approximation with the X-rays scattering length equal to the atomic number of the element.</p></li>
</ul>
<h5 class="unnumbered" id="the-box-and-periodicity-dialog-fig.-bpd">2) The "<span><code>Box and periodicity</code></span>" dialog [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-1#bpd" data-reference-type="ref" data-reference="bpd">3.5</a>]</h5>
<div id="bpd">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/atomes-bpd-w.png" id="bpd" style="width:16.5cm" alt="The &quot;Box and periodicity&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.5:</span></strong> The "<span><code>Box and periodicity</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>This dialog allows to define the periodicity and if needed adjust the model box proportions, or lattice vectors (see [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-1#bpd" data-reference-type="ref" data-reference="bpd">3.5</a>]).</p>
<h5 class="unnumbered" id="the-bond-cutoffs-dialog-fig.-bcd">3) The "<span><code>Bond cutoffs</code></span>" dialog [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-1#bcd" data-reference-type="ref" data-reference="bcd">3.6</a>]</h5>
<div id="bcd">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/atomes-bcd.png" id="bcd" style="width:8cm" alt="The &quot;Bond cutoffs&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.6:</span></strong> The "<span><code>Bond cutoffs</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>This dialog allows to adjust the cutoff distances used to define the existence or absence of chemical bonds (see figure <a href="/atomes-doc/chap-3/section-3/sub-section-1#bcd" data-reference-type="ref" data-reference="bcd">3.6</a>), both for the calculations (see section <a href="/atomes-doc/chap-3/section-5/" data-reference-type="ref" data-reference="calc">3.5</a>) sensitive to these parameters and for the 3D visualization in the OpenGL window (see section <a href="/atomes-doc/chap-3/section-6/" data-reference-type="ref" data-reference="visu">3.6</a>).<br />
As soon as the "<span><code>Bond cutoffs</code></span>" dialog closes <span><strong>atomes</strong></span> will have everything required to setup the 3D model and the OpenGL window will appear.<br />
<br />
The 3 dialog boxes "<span><code>Chemistry and physics</code></span>", "<span><code>Box and periodicity</code></span>" and "<span><code>Bond cutoffs</code></span>" can be re-opened again later on using the "<span><code>Edit</code></span>" menu [Fig. <a href="/atomes-doc/chap-3/section-1#main" data-reference-type="ref" data-reference="main">3.1</a>-c]. However in that case only the <span><em><span><strong>active</strong></span></em></span> project parameters can to be modified. Therefore remember to activate the project you want to edit before using the edit menu.</p>
