<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The <span><em><span><strong>Atomes</strong></span></em></span> project file allows to store:</p>
<ul>
<li><p>The atomic coordinates, including MD trajectories.</p></li>
<li><p>The results/data of all calculations performed within <span><em><span><strong>Atomes</strong></span></em></span>.</p></li>
<li><p>The results of all modifications of the calculations data, including graph windows (see chapter <a href="/Atomes-doc/chap-4/" data-reference-type="ref" data-reference="ana">4</a>).</p></li>
<li><p>The parameters of the OpenGL window, so that when re-opened the project appears exactly as it was when saved.</p></li>
</ul>
<p>The main idea being to be able to resume work exactly where it was before saving the <span><em><span><strong>Atomes</strong></span></em></span> project file.<br />
<br />
The <span><em><span><strong>Atomes</strong></span></em></span> project files have the extension: <span><strong>.apf</strong></span><br />
<br />
To open <span><em><span><strong>Atomes</strong></span></em></span> project file(s) use the "<span><code>Open Project File(s)</code></span>" dialog [Fig. <a href="/Atomes-doc/chap-3/section-3/sub-section-2#oapf" data-reference-type="ref" data-reference="oapf">3.7</a>].<br />
This can be done using alternatively:</p>
<ul>
<li><p>The workspace menu.</p></li>
<li><p>The right click menu obtained with the mouse button of the workspace tree.</p></li>
<li><p>The keyboard shortcut <kbd>Ctrl</kbd>+ <kbd>o</kbd> on top of the <span><em><span><strong>Atomes</strong></span></em></span> program main window.</p></li>
</ul>
<p>Many <span><em><span><strong>Atomes</strong></span></em></span> project files can be opened simultaneously, simply select all projects to be opened in the "<span><code>Open Project File(s)</code></span>" dialog, click "<span><code>Open</code></span>" and they will appear in the workspace tree:<br />
</p>
<div id="oapf">
<div align="center">
<figure>
<img src="/Atomes-doc/img/main/atomes-apf-w.png" id="oapf" style="width:19.5cm" alt="The &quot;Open Project File(s)&quot; dialog in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.7:</span></strong> The "<span><code>Open Project File(s)</code></span>" dialog in the <span><em><span><strong>Atomes</strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Later on when using the <span><em><span><strong>Atomes</strong></span></em></span> program remember that any window specifically dedicated to a project will have the name of this project in its title bar.</p>
