<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>A database of chemical/physical properties is included in the <span><em><span><strong>Atomes</strong></span></em></span> program, this appendix presents these properties (atomic radii, x-ray and neutron scattering lengths) as well as the references of the articles from which this information was obtained.<br />
Note that the data presented in this appendix is available for download on the web site of the program:<br />
</p>
<div align="center">
<p><a href="https://atomes.ipcms.fr">https://atomes.ipcms.fr</a></p>
</div>
