<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>In <span><strong>atomes</strong></span> each project, as soon as it is created and whether it is new (empty) or contains atomic coordinates, is immediately:</p>
<ul>
<li><p>inserted into the workspace tree: a branch will appear bearing the project name [Fig. <a href="/atomes-doc/chap-3/section-2#ptree" data-reference-type="ref" data-reference="ptree">3.2</a>].</p></li>
<li><p>assigned an OpenGL window for visualization, analysis and edition.</p></li>
<li><p>the "<span><code>Toolboxes</code></span>" dialog [Fig. <a href="/atomes-doc/chap-4/section-1#tools" data-reference-type="ref" data-reference="tools">4.2</a>] is refreshed, and if required open, to present the data of this project.</p></li>
</ul>
<p>Figure <a href="/atomes-doc/chap-3/section-2#ptree" data-reference-type="ref" data-reference="ptree">3.2</a> illustrates the structure of project tree branch in the <span><strong>atomes</strong></span> workspace.<br />
</p>
<div id="ptree">
<div align="center">
<figure>
<img src="/atomes-doc/img/p-tree/p-tree-w-b.png" id="ptree" style="width:19.5cm" alt="Project tree in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.2:</span></strong> Project tree in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>On each line/tree branch in the workspace tree the double-click with the left button of the mouse has an effect:</p>
<ul>
<li><p>"<span><code>Workspace</code></span>" line: displays workspace information, lists all opened project(s) and gives the name of the <span><em><span><strong>active</strong></span></em></span> project in bold green font [Fig. <a href="/atomes-doc/chap-1#overview" data-reference-type="ref" data-reference="overview">1.1</a>].</p></li>
<li><p>"<span><code>Project’s name</code></span>" line: activates the project (see section <a href="/atomes-doc/chap-3/section-5/" data-reference-type="ref" data-reference="calc">3.5</a> for details), when the project is <span><em><span><strong>active</strong></span></em></span> its name is displayed in bold font.</p></li>
<li><p>"<span><code>Settings</code></span>" line: provides general information about the project.</p></li>
<li><p>"<span><code>Visualization</code></span>" line: open/close the OpenGL visualization window, and display OpenGL/hardware information.</p></li>
<li><p>Each of the calculation lines (ex: "<span><code>g(r)/G(r)</code></span>"): if the calculation was performed for that project displays summary of the calculation, used parameters, and results.</p></li>
</ul>
<p>As illustrated in figure <a href="/atomes-doc/chap-3/section-2#wlc" data-reference-type="ref" data-reference="wlc">3.3</a> the right click of the mouse display a menu basically reproduces the Workspace menu [Fig. <a href="/atomes-doc/chap-3/section-1#main" data-reference-type="ref" data-reference="main">3.1</a>-b], but also introduces two new buttons to activate the project (see section <a href="/atomes-doc/chap-3/section-5/" data-reference-type="ref" data-reference="calc">3.5</a> for details) and edit its name.<br />
</p>
<div id="wlc">
<div align="center">
<figure>
<img src="/atomes-doc/img/p-tree/atomes-wlc.png" id="wlc" style="width:8cm" alt="Mouse left click menu in the workspace tree of the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.3:</span></strong> Mouse left click menu in the workspace tree of the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>The name of the project supports Pango markup{% cite pangomarkup %}:<br />
<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;sub&gt; &lt;/sub&gt; for <span class="math inline">\(_{\text{underscore}}\)</span></td>
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;i&gt; &lt;/i&gt; for <span><em><span>italic</span></em></span></td>
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;u&gt; &lt;/u&gt; for <span><u>underline</u></span></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;sup&gt; &lt;/sup&gt; for <span class="math inline">\(^{\text{exponent}}\)</span></td>
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;b&gt; &lt;/b&gt; for <span><strong>bold</strong></span></td>
<td style="text-align: left;"><span class="math inline">\(\bullet\)</span> &lt;tt&gt; &lt;/tt&gt; for <span><code>monospace</code></span></td>
</tr>
<tr class="odd">
<td colspan="3" style="text-align: left;">and more ... see: <a href="https://docs.gtk.org/Pango/pango_markup.html">https://docs.gtk.org/Pango/pango_markup.html</a></td>
</tr>
</tbody>
</table>
