<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<ul>
<li><p>Combined keys shortcuts:</p>
<ul>
<li><p><kbd>Ctrl</kbd>+<kbd>a</kbd> : Autoscale</p></li>
<li><p><kbd>Ctrl</kbd>+<kbd>c</kbd> : Close curve window</p></li>
<li><p><kbd>Ctrl</kbd>+<kbd>e</kbd> : Open the data plot editing tool box [Fig. <a href="/Atomes-doc/chap-4/section-2/sub-section-2#edittool" data-reference-type="ref" data-reference="edittool">4.6</a>]</p></li>
<li><p><kbd>Ctrl</kbd>+<kbd>i</kbd> : Export image</p></li>
<li><p><kbd>Ctrl</kbd>+<kbd>s</kbd> : Save / export data</p></li>
</ul></li>
