<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Using <span><strong>atomes</strong></span> "<span><code>Crystal builder</code></span>" it is possible to build crystalline structures or even super-structures. Also if the model description contains a box, then cell edition options become available:</p>
<ul>
<li><p>Wrap atoms in original cell</p></li>
<li><p>Shift cell center</p></li>
<li><p>Add extra cell(s)</p></li>
<li><p>Create super cell</p></li>
<li><p>Change the model density</p></li>
<li><p>Cut slabs or extract atoms from the model.</p></li>
</ul>
<p>And if the model contains only a single configuration (and not a molecular dynamics trajectory), or when an empty project is created, the atom(s) edition options/mode become available:</p>
<ul>
<li><p>Motion (random or selected atom(s))</p></li>
<li><p>Replacement (random or selected atom(s))</p></li>
<li><p>Removal (random or selected atom(s))</p></li>
<li><p>Insertion</p></li>
</ul>
<p>For a complete description of these features see chapter <a href="/atomes-doc/chap-6/" data-reference-type="ref" data-reference="edition">6</a>.</p>
