<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>To use the right button of the mouse over the graph window allows to open a contextual menu [Fig. <a href="/Atomes-doc/chap-4/section-3/sub-section-1#rmenu" data-reference-type="ref" data-reference="rmenu">4.8</a>].<br />
</p>
<div id="rmenu">
<div align="center">
<figure>
<img src="/Atomes-doc/img/curves/right-menu.png" id="rmenu" style="width:5.5cm" alt="Mouse contextual menu over the graph window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.8:</span></strong> Mouse contextual menu over the graph window in the <span><em><span><strong>Atomes</strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>This menu allows the following actions:</p>
<ol>
<li><p><span id="ed" label="ed"></span> Edit Data : essentially reproduces the "<span><code>Edit data</code></span>" submenu from the graph window’s top menu [Fig. <a href="/Atomes-doc/chap-4/section-3/sub-section-1#m-sets" data-reference-type="ref" data-reference="m-sets">4.9</a>-a].</p></li>
<li><p><span id="sd" label="sd"></span> Save Data (see section <a href="/Atomes-doc/chap-4/section-2/" data-reference-type="ref" data-reference="dpedition">4.2</a>)</p></li>
<li><p><span id="ec" label="ec"></span> Edit Curve (see section <a href="/Atomes-doc/chap-4/section-2/" data-reference-type="ref" data-reference="dpedition">4.2</a>)</p></li>
<li><p><span id="ei" label="ei"></span> Export Image (see section <a href="/Atomes-doc/chap-4/section-2/" data-reference-type="ref" data-reference="dpedition">4.2</a>)</p></li>
<li><p><span id="ad" label="ad"></span> Add Data Set: allows to add data set(s) to the graph window, this extra data set from a similar kind of calculation can come either from the same project or any other project opened in the workspace. The submenu list of available data set(s) compatible with the present graph/calculation in the workspace and offers shortcuts to insert each of them in the graph [Fig. <a href="/Atomes-doc/chap-4/section-3/sub-section-1#m-sets" data-reference-type="ref" data-reference="m-sets">4.9</a>-b].</p></li>
<li><p><span id="rd" label="rd"></span> Remove Data Set: allows to remove data set(s) from the graph window. Only data sets that were actually added to the graph window can be removed and not the initial data set of the graph window (in this example case the "<span><code>g(r) neutrons</code></span>" for "<span><code>l-GeSe [PW91]</code></span>" project [Fig <a href="/Atomes-doc/chap-4/section-3/sub-section-1#m-sets" data-reference-type="ref" data-reference="m-sets">4.9</a>-c].</p></li>
<li><p><span id="au" label="au"></span> Autoscale: offers to autoscale the x and y axis for the entire set(s) of data presented in the graph window.</p></li>
<li><p><span id="cl" label="cl"></span> Close: closes the graph window.</p></li>
</ol>
<div id="m-sets">
<div align="center">
<figure>
<img src="/Atomes-doc/img/curves/ear-w.png" id="m-sets" style="width:12cm" alt="The &quot;Edit data&quot; a), &quot;Add data set&quot; b) and &quot;Remove data set&quot; c) submenus in the graph window contextual menu for the example workspace [Fig. 4.1]." />
<figcaption aria-hidden="true"><strong><span>Figure 4.9:</span></strong> The "<span><code>Edit data</code></span>" a), "<span><code>Add data set</code></span>" b) and "<span><code>Remove data set</code></span>" c) submenus in the graph window contextual menu for the example workspace [Fig. <a href="#lGeSe" data-reference-type="ref" data-reference="lGeSe">4.1</a>].</figcaption>
<br /></figure>
</div>
</div>
