<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Using the mouse over the graph window it is possible to zoom in and out, by pressing the left button and then and move up/down/left/right while keeping the button pressed. Then a rectangle will be drawn over the window [Fig. <a href="#lzoom" data-reference-type="ref" data-reference="lzoom">4.10</a>], starting at the point where the button was first pressed, and ending at the point the mouse is hanging over. The effect of the zoom action will be specified by a text inscription at the origin point of the rectangle, and by the color of the rectangle:</p>
<ul>
<li><p>Zoom in(x) and in(y): direction from bottom left to top right, and <span style="color: red">red color</span>.</p></li>
<li><p>Zoom in(x) and out(y): direction from top left to bottom right, and <span style="color: violet">violet color</span>.</p></li>
<li><p>Zoom out(x) and in(y): direction from bottom right to top left, and <span style="color: blue">blue color</span>.</p></li>
<li><p>Zoom out(x) and out(y): direction from top right to bottom left, and <span style="color: green">green color</span>.</p></li>
</ul>
<div id="lzoom">
<div align="center">
<figure>
<img src="/img/curves/zoom-w.png" id="lzoom" style="width:15cm" alt="The mouse left button zoom in/out of the graph window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.10:</span></strong> The mouse left button zoom in/out of the graph window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
