<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p><span id="edition" label="edition"></span></p>
<p>In this chapter the examples will be illustrated using the same workspace used to illustrate the visual analysis capabilities of <span><em><span><strong><span>Atomes</span></strong></span></em></span> in the previous chapter and presented in figure <a href="#workm" data-reference-type="ref" data-reference="workm">5.1</a>.<br />
Edition tools are available via the "<span><code>Tools</code></span>" menu, and using either the "<span><code>Edit</code></span>" submenu [Fig. <a href="#emf" data-reference-type="ref" data-reference="emf">6.1</a>-a] or the mouse "<span><code>Edition</code></span>" from in the "<span><code>Mouse mode</code></span>" submenu [Fig. <a href="#emf" data-reference-type="ref" data-reference="emf">6.1</a>-b]:<br />
</p>
<div id="emf">
<div align="center">
<figure>
<img src="/img/edit/edit-w.png" id="emf" style="width:16.5cm" alt="Accessing the edition tools in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 6.1:</span></strong> Accessing the edition tools in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
