<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The <span><em><span><strong><span>Atomes</span></strong></span></em></span> helper for the <a href="http://cp2k.berlios.de">CP2K</a> calculation offers to prepare input files for <span><strong><span>CP2K v9.1</span></strong></span>. Please note that the <a href="http://cp2k.berlios.de">CP2K</a> code offers so many calculation options that it is not possible either to provide a description or to offer a comprehensive usage guide for each of these options. Therefore the <a href="http://cp2k.berlios.de">CP2K</a> calculation assistant only provides help towards basics and / or frequently used <span><em><span>ab-initio</span></em></span> calculation options.<br />
In any case if you intent to use the <a href="http://cp2k.berlios.de">CP2K</a> code please refer to the user manual:<br />
<a href="https://www.cp2k.org/howto">https://www.cp2k.org/howto</a><br />
The <span><em><span><strong><span>Atomes</span></strong></span></em></span> helper for the <a href="http://cp2k.berlios.de">CP2K</a> calculation provides a step by step interface to configure the different sections of the <a href="http://cp2k.berlios.de">CP2K</a> input file(s) for <span><em><span>ab-initio</span></em></span> calculations:</p>
<div id="cp2ka">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-01.png" id="cp2ka" style="width:15cm" alt="The &quot;CP2K&quot; assistant in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 7.1:</span></strong> The "<span><code>CP2K</code></span>" assistant in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<h4 class="unnumbered" id="the-cp2k-input-structure">The "<span><code>CP2K input structure</code></span>"</h4>
<p>The CP2K input can be rather initimidating, you can decide at this stage either to have all input data gathered in a single file, or alternatively split in several, content orientated, files:</p>
<div id="cp2ki">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-02.png" id="cp2ki" style="width:15cm" alt="&quot;CP2K input structure&quot; in the &quot;CP2K&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.2:</span></strong> "<span><code>CP2K input structure</code></span>" in the "<span><code>CP2K</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h4 class="unnumbered" id="the-global-section">The "<span><code>GLOBAL</code></span>" section</h4>
<p>Select the calculation to be performed, and some general options regarding the process.<br />
</p>
<div id="cp2kg">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-03.png" id="cp2kg" style="width:16cm" alt="&quot;GLOBAL&quot; section in the &quot;CP2K&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.3:</span></strong> "<span><code>GLOBAL</code></span>" section in the "<span><code>CP2K</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<p>Note that <span><em><span><strong><span>Atomes</span></strong></span></em></span> provides, when available, basis set(s) and pseudo-potential(s) from the CP2K database. Basis set(s) and pseudopotential(s) will be saved respectivelly in "<span><code>basis.inc</code></span>" and "<span><code>pseudo.inc</code></span>".</p>
<h4 class="unnumbered" id="the-force_eval-section">The "<span><code>FORCE_EVAL</code></span>" section</h4>
<p>Describe the details of the forces evaluation process.<br />
</p>
<div id="cp2kf">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-04.png" id="cp2kf" style="width:17cm" alt="&quot;FORCE_EVAL&quot; section in the &quot;CP2K&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.4:</span></strong> "<span><code>FORCE_EVAL</code></span>" section in the "<span><code>CP2K</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h4 class="unnumbered" id="the-subsys-section">The "<span><code>SUBSYS</code></span>" section</h4>
<p>Describe the periodicity of the system, as well as the basis set and the pseudopotentials used in the calculation.<br />
</p>
<div id="cp2ks">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-05.png" id="cp2ks" style="width:17cm" alt="&quot;SUBSYS&quot; section in the &quot;CP2K&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.5:</span></strong> "<span><code>SUBSYS</code></span>" section in the "<span><code>CP2K</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h4 class="unnumbered" id="the-motion-section">The "<span><code>MOTION</code></span>" section</h4>
<p>Describe the molecular dynamics parameters of the calculation (thermodynamic ensemble, thermostat(s) and more):<br />
</p>
<div id="cp2km">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/cp2k/cp2k-06.png" id="cp2km" style="width:17cm" alt="&quot;MOTION&quot; section in the &quot;CP2K&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.6:</span></strong> "<span><code>MOTION</code></span>" section in the "<span><code>CP2K</code></span>" assistant.</figcaption>
<br /></figure>
</div>
