<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="cmenu">
<div align="center">
<figure>
<img src="/atomes-doc/img/curves/curve-menu.png" id="cmenu" style="width:5cm" alt="The &quot;Curve&quot; menu, and the corresponding buttons in the contextual menu of the graph window in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.1:</span></strong> The "<span><code>Curve</code></span>" menu, and the corresponding buttons in the contextual menu of the graph window in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Using the data plot editing tool [Fig. <a href="/atomes-doc/chap-4/section-2/sub-section-2#edittool" data-reference-type="ref" data-reference="edittool">4.6</a>] it is possible to configure the layout of the selected graph, as well as the layout each data set which happen to be plotted on the graph, it is also possible to configure X and Y axis layout and/or position.<br />
</p>
<div id="edittool">
<div align="center">
<figure>
<img src="/atomes-doc/img/curves/edit-curves.png" id="edittool" style="width:16.5cm" alt="The data plot editing tool box in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.6:</span></strong> The data plot editing tool box in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Furthermore depending on the calculation several data sets can be selected and plotted together with the main data set of the active window. Data plot edition in the <span><strong>atomes</strong></span> program is illustrated with the example in figure <a href="/atomes-doc/chap-4/section-2/sub-section-2#egr" data-reference-type="ref" data-reference="egr">4.7</a>.<br />
</p>
<div id="egr">
<div align="center">
<figure>
<img src="/atomes-doc/img/curves/curve-edit-w.png" id="egr" style="width:14cm" alt="Examples of data plot edition in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.7:</span></strong> Examples of data plot edition in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
