<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>As illustrated in figure <a href="#dmenu" data-reference-type="ref" data-reference="dmenu">4.4</a> it is possible to edit any of the data set presented in the graph window in a spreadsheet like environment (including a contextual menu accessible using the right button of the mouse).</p>
<div id="dmenu">
<div align="center">
<figure>
<img src="/Atomes-doc/img/curves/data-edit-w.png" id="dmenu" style="width:13cm" alt="Top: The &quot;Data&quot; and the &quot;Edit data&quot; menus in the top menu of the graph window. Bottom: the &quot;Data edition&quot; window and the associated contextual menu." />
<figcaption aria-hidden="true"><strong><span>Figure 4.4:</span></strong> Top: The "<span><code>Data</code></span>" and the "<span><code>Edit data</code></span>" menus in the top menu of the graph window. Bottom: the "<span><code>Data edition</code></span>" window and the associated contextual menu.</figcaption>
<br /></figure>
</div>
</div>
