<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Each model in the <span><strong>atomes</strong></span> workspace is assigned an OpenGL window that provides an interactive experience to visualize and analyze its properties. Isolated configurations as well as entire molecular dynamics trajectories can be visualized.<br />
Among the possibilities of the OpenGL window:</p>
<ul>
<li><p>Advanced color map options, for both atoms and polyhedra.</p></li>
<li><p>Advanced coordination(s) visualization options (total, partial, fragments, molecules).</p></li>
<li><p>Advanced coordination polyhedra visualization options.</p></li>
<li><p>Measurement tools.</p></li>
<li><p>Advanced layout system for atomic labels, measurements, MD box and model axis.</p></li>
<li><p>Image and movie rendering, including an intuitive interface to movie encoding that allows to record every interaction/modification made to the OpenGL window.</p></li>
<li><p>Advanced OpenGL configuration options.</p></li>
</ul>
<p>For a complete description of these features see chapter <a href="/atomes-doc/chap-5/" data-reference-type="ref" data-reference="visual">5</a>.</p>
