<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>When a particular structural characteristic is computed results can be directly displayed in the main <span><em><span><strong><span>Atomes</span></strong></span></em></span> windows [Fig. <a href="/Atomes-doc/chap-3/section-1#main" data-reference-type="ref" data-reference="main">3.1</a>-a]. In addition the visualization mode of most of the computed characteristics can be controlled the "<span><code>Toolboxes</code></span>" dialog:<br />
</p>
<div id="tools">
<div align="center">
<figure>
<img src="/Atomes-doc/img/main/atomes-tools.png" id="tools" style="width:5cm" alt="The &quot;Toolboxes&quot; dialog in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.2:</span></strong> The "<span><code>Toolboxes</code></span>" dialog in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
The "<span><code>Toolboxes</code></span>" dialog contains a tree that becomes browsable for a particular calculation when that calculation is completed successfully.<br />
If closed the "<span><code>Toolboxes</code></span>" dialog can be opened alternatively using:</p>
<ul>
<li><p>The last button of the "<span><code>Analyze menu</code></span>" called "<span><code>Toolboxes</code></span>" [Fig. <a href="/Atomes-doc/chap-3/section-1#main" data-reference-type="ref" data-reference="main">3.1</a>-d].</p></li>
<li><p>The <kbd>Ctrl</kbd>+ <kbd>t</kbd> keyboard shortcut over the main window of the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</p></li>
</ul>
<div id="tools2">
<div align="center">
<figure>
<img src="/Atomes-doc/img/main/atomes-tools-w.png" id="tools2" style="width:16.5cm" alt="Interaction with the &quot;Toolboxes&quot; dialog in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 4.3:</span></strong> Interaction with the "<span><code>Toolboxes</code></span>" dialog in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>When a button in an interaction menu is activated [Fig. <a href="/Atomes-doc/chap-4/section-1#tools2" data-reference-type="ref" data-reference="tools2">4.3</a>] the corresponding result is instantaneously displayed as a curve or a histogram [Fig. <a href="/Atomes-doc/chap-4/section-1#tools2" data-reference-type="ref" data-reference="tools2">4.3</a>] depending on the nature of the computed structural characteristic, in figure <a href="/Atomes-doc/chap-4/section-1#tools" data-reference-type="ref" data-reference="tools">4.2</a> the g(r) for the project "<span><code>l-GeSe [PW91]</code></span>" for the example workspace in figure <a href="#lGeSe" data-reference-type="ref" data-reference="lGeSe">4.1</a>.</p>
