<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p><span id="md" label="md"></span></p>
<p><span><em><span><strong>Atomes</strong></span></em></span> proposes assistants dedicated to the creation/preparation/modification of input files for (massively parallel) molecular dynamics calculations:</p>
<ul>
<li><p>Classical MD:</p>
<ul>
<li><p><a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> {% cite DLPOLY %}</p></li>
<li><p><a href="https://lammps.sandia.gov/">LAMMPS</a> {% cite LAMMPS %}</p></li>
</ul></li>
<li><p><span><em><span>ab-initio</span></em></span> MD:</p>
<ul>
<li><p><a href="http://www.cpmd.org">CPMD</a> {% cite CPMD %}</p></li>
<li><p><a href="http://cp2k.berlios.de">CP2K</a> {% cite CP2K %}</p></li>
</ul></li>
<li><p>QM-MM (Mixed <span><em><span>ab-initio</span></em></span> - classical) MD:</p>
<ul>
<li><p><a href="http://www.cpmd.org">CPMD</a> {% cite CPMD %}</p></li>
<li><p><a href="http://cp2k.berlios.de">CP2K</a> {% cite CP2K %}</p></li>
</ul></li>
</ul>
