<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p><span id="visual" label="visual"></span></p>
<p>In this chapter examples will be illustrated using an <span><strong>atomes</strong></span> workspace presented in figure <a href="#workm" data-reference-type="ref" data-reference="workm">5.1</a>, this workspace contains 3 different projects:</p>
<ul>
<li><p>a molecular surface of Nickel-Phthalocyanine molecules with 512 atoms.</p></li>
<li><p>a SiO<span class="math inline">\(_2\)</span> glass with 3000 atoms.</p></li>
<li><p>a GeS<span class="math inline">\(_2\)</span> glass molecular dynamics trajectory with 500 MD steps and 258 atoms.</p></li>
</ul>
<div id="workm">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/workm2.png" id="workm" style="width:15.5cm" alt="Example workspace to illustrate the visualization capabilities of the atomes program containing 3 projects, named &quot;Ni-Phth&quot;, &quot;g-SiO_2&quot; and &quot;l-GeS_2&quot;." />
<figcaption aria-hidden="true"><strong><span>Figure 5.1:</span></strong> Example workspace to illustrate the visualization capabilities of the <span><strong>atomes</strong></span> program containing 3 projects, named "<span><code>Ni-Phth</code></span>", "<span><code>g-SiO<sub>2</sub></code></span>" and "<span><code>l-GeS<sub>2</sub></code></span>".</figcaption>
<br /></figure>
</div>
</div>
