<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p><span><em><span><strong>Atomes</strong></span></em></span> is a cross-platform program developed around 3 main research ideas: to analyze, to visualize and to edit/create three-dimensional atomistic models.<br />
<span><em><span><strong>Atomes</strong></span></em></span> offers a workspace that allows to have many projects opened simultaneously. The different projects in the workspace can exchange data: analysis results, atomic coordinates ...<br />
By regrouping advanced analysis techniques, 3D visualization and 3D edition <span><em><span><strong>Atomes</strong></span></em></span> introduces innovative 3D rendering possibilities and intuitive utilizations of the calculation results.<br />
<span><em><span><strong>Atomes</strong></span></em></span> also provides an advanced input preparation system for further calculations using well known molecular dynamics codes:</p>
<ul>
<li><p>Classical MD : <a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> {% cite DLPOLY %} and <a href="https://lammps.sandia.gov/">LAMMPS</a> {% cite LAMMPS %}</p></li>
<li><p><span><em><span>ab-initio</span></em></span> MD : <a href="http://www.cpmd.org">CPMD</a> {% cite CPMD %} and <a href="http://cp2k.berlios.de">CP2K</a> {% cite CP2K %}</p></li>
<li><p>QM-MM MD : <a href="http://www.cpmd.org">CPMD</a> {% cite CPMD %} and <a href="http://cp2k.berlios.de">CP2K</a> {% cite CP2K %}</p></li>
</ul>
<p>To prepare the input files for these calculations is likely to be the key, and most complicated step towards MD simulations. <span><em><span><strong>Atomes</strong></span></em></span> offers a user-friendly assistant to help and guide the user step by step to achieve this crucial step.</p>
<div id="overview">
<div align="center">
<figure>
<img src="/Atomes-doc/img/overview3.png" id="overview" style="width:23cm" alt="Overview of the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 1.1:</span></strong> Overview of the <span><em><span><strong>Atomes</strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
