<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The <span><em><span><strong><span>Atomes</span></strong></span></em></span> helper for the <a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> calculation offers to prepare input files for <span><strong><span>DL-POLY v4.09</span></strong></span>. The <span><strong><span>CONTROL</span></strong></span>, <span><strong><span>FIELD</span></strong></span> and <span><strong><span>CONFIG</span></strong></span> files can be entirely designed.<br />
Before going further it is strongly advised to read the DL-POLY user manual:<br />
<a href="ftp://ftp.dl.ac.uk/ccp5/DL_POLY/DL_POLY_4.0/DOCUMENTS/USRMAN4.pdf">ftp://ftp.dl.ac.uk/ccp5/DL_POLY/DL_POLY_4.0/DOCUMENTS/USRMAN4.pdf</a></p>
<h5 id="initializing-the-force-field">Initializing the force field</h5>
<div id="finit0">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/init/init-0.png" id="finit0" style="width:15cm" alt="Initializing the force field in the DL-POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.1:</span></strong> Initializing the force field in the DL-POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<p>The mandatory first step in the <a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> calculation assistant is to initialize the force field, as illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#finit0" data-reference-type="ref" data-reference="finit0">7.1</a> it required to select both:</p>
<ul>
<li><p>The force field to be used, ie. the data source for many of the "<span><code>FIELD</code></span>" file parameters including: bonds, angles, dihedrals and inversions.<br />
The <span><strong><span>FIELD</span></strong></span> file parameters can be imported from the following force fields:<br />
</p>
<ul>
<li><p><span><strong><span>OPLS force fields</span></strong></span>:</p>
<ul>
<li><p>OPLS All-atoms for proteins</p></li>
<li><p>OPLS All-atoms for RNA<br />
</p></li>
</ul></li>
<li><p><span><strong><span>CHARMM force fields</span></strong></span>:</p>
<ul>
<li><p>CHARMM 22 proteins</p></li>
<li><p>CHARMM 22 proteins and metals</p></li>
<li><p>CHARMM 35 ethers</p></li>
<li><p>CHARMM 36 carbenes</p></li>
<li><p>CHARMM 36 general</p></li>
<li><p>CHARMM 36 lipids</p></li>
<li><p>CHARMM 36 Nucleid acids</p></li>
<li><p>CHARMM 36 proteins</p></li>
<li><p>CHARMM 36 proteins and metals</p></li>
<li><p>CHARMM silicates</p></li>
</ul></li>
</ul>
<ul>
<li><p><span><strong><span>AMBER force fields</span></strong></span>:</p>
<ul>
<li><p>AMBER 94</p></li>
<li><p>AMBER 96</p></li>
<li><p>AMBER 98</p></li>
<li><p>AMBER 99<br />
</p></li>
</ul></li>
<li><p><span><strong><span>Consistent force fields</span></strong></span>:</p>
<ul>
<li><p>CVFF</p></li>
<li><p>CVFF Augmented</p></li>
<li><p>CFF 91</p></li>
<li><p>PCFF</p></li>
<li><p>COMPASS</p></li>
</ul></li>
</ul>
<p><br />
Theses parameters are read by <span><em><span><strong><span>Atomes</span></strong></span></em></span> on the fly / by request from the corresponding files located in the directory: "<span><code>bin/library/force_fields</code></span>".</p></li>
<li><p>The atoms description to initiate the force field, ie. the first "rough" type of field atoms for the initial description of the force field:</p>
<ul>
<li><p>The atomic species</p></li>
<li><p>The atomic species and the total coordination(s)</p></li>
<li><p>The atomic species and the partial coordination(s)</p></li>
</ul></li>
</ul>
<p>Once the force field has been initialized the default pages populates the assistant:<br />
</p>
<div id="finit">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/init/init-1.png" id="finit" style="width:13cm" alt="The initialized force field in the DL-POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.2:</span></strong> The initialized force field in the DL-POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 id="the-control-file">The "<span><code>CONTROL</code></span>" file</h5>
<p>When the force field has been initialized and providing the "<span><code>CONTROL</code></span>" file is to be prepared, it is possible to adjust the corresponding options.<br />
These options are regrouped in 8 tabs illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#fcontrol" data-reference-type="ref" data-reference="fcontrol">7.3</a>, and almost all options from the <a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> user guide are available, with the exception of the Plumed calculation options and some options for the two-temperature "<span><code>ttm</code></span>" model.</p>
<div id="fcontrol">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/control/control.png" id="fcontrol" style="width:17cm" alt="The &quot;CONTROL&quot; file options in the DL-POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.3:</span></strong> The "<span><code>CONTROL</code></span>" file options in the DL-POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 id="the-field-file">The "<span><code>FIELD</code></span>" file</h5>
<p>If the "<span><code>FIELD</code></span>" file is to be prepared then the corresponding tabs are also made available in the assistant.</p>
<h5 class="unnumbered" id="force-field-elements">Force field elements</h5>
<p>The first tab related to the "<span><code>FIELD</code></span>" file allows to enable or disable all kind of component(s) for the force field to be created:<br />
</p>
<div id="felem">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/f1.png" id="felem" style="width:16cm" alt="&quot;Select the component(s) of the force field&quot; tab in the DL-POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.4:</span></strong> "<span><code>Select the component(s) of the force field</code></span>" tab in the DL-POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
The "<span><code>Energy unit</code></span>" combo box, allows to change the energy units for the field parameters, please note that changing the energy unit will convert all parameters in the "<span><code>FIELD</code></span>" file to the new unit.<br />
The other options are divided in 2 categories, the "<span><code>Intra-molecular interaction(s)</code></span>" options and the "<span><code>Non-bonded interaction(s)</code></span>" options. To enable / disable any feature simply check / uncheck the corresponding button in this tab, then the associated page will be inserted / removed from the list of pages available in the assistant.</p>
<h5 class="unnumbered" id="general-behavior-of-the-field-file-part-of-the-assistant">General behavior of the "<span><code>FIELD</code></span>" file part of the assistant</h5>
<p>Each page of the assistant is dedicated to a particular property, the first pages (up to 13 pages) being dedicated to intra-molecular interactions and the latest pages (up to 6 pages) being dedicated to non-bonded interactions.<br />
Each page contains a table presenting the list of the associated properties, double clicking on a line with the mouse left button will allow to edit the corresponding line/property, while the mouse right button will open a contextual menu with different set of actions including the edition available otherwise.<br />
For almost each and every intra or inter-molecular property listed in the corresponding tab, corresponds a "<span><code>Use</code></span>" check button. It is mandatory to check-in the "<span><code>Use</code></span>" button for the property to be used when building the "<span><code>FIELD</code></span>" (remember that few are mutually exclusive), if not then the information is simply stored for further usage.<br />
Any objects selection is associated with a visualization in the model, ie. if an atom/a bond/an angle ... is selected then this object will be highlighted with a particular color in the 3D window, also the associated line in the selection dialog will be colored as well and using the same color.<br />
Each page will be briefly introduced thereafter.</p>
<h5 class="unnumbered" id="the-molecules-tab">The "<span><code>Molecule(s)</code></span>" tab</h5>
<p>The "<span><code>Molecule(s)</code></span>" tab, see figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#molinit" data-reference-type="ref" data-reference="molinit">7.5</a>, lists all the different molecules in the model:<br />
</p>
<div id="molinit">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/mol/mol-init.png" id="molinit" style="width:16cm" alt="&quot;Molecule(s)&quot; tab in the DL-POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.5:</span></strong> "<span><code>Molecule(s)</code></span>" tab in the DL-POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<p>Each line corresponds to a molecule, and for each molecule the information is as follow:</p>
<ol>
<li><p>ID in the force field</p></li>
<li><p>Name in the force field (can be changed by double clicking on the line)</p></li>
<li><p>Multiplicity (number of times the same molecule appears in the model)</p></li>
<li><p>Chemistry</p></li>
<li><p>Total number of atoms</p></li>
<li><p>Number of chemical species</p></li>
<li><p><span id="vizm" label="vizm"></span> Check button to visualize the molecule in the model</p></li>
<li><p><span id="vizn" label="vizn"></span> Check button to visualize the atom number within the molecule</p></li>
</ol>
<p>In the "<span><code>Ni-Phth</code></span>" example used here, two distinct molecules are found, 8 identical and standard Ni-phthalocyanine molecules that constitute the bottom surface and 1 modified Ni-phthalocyanine molecule, with a H atom missing on top of it.<br />
As illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#ivizm" data-reference-type="ref" data-reference="ivizm">7.6</a> the effect of the first check button <a href="#vizm" data-reference-type="ref" data-reference="vizm">[vizm]</a> is to help visualizing the different molecule(s) in the model. For each molecule a color is defined and applied to both the atom(s) in the model and the corresponding line in the "<span><code>Molecule(s)</code></span>" tab.<br />
</p>
<div id="ivizm">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/mol/mol-col.png" id="ivizm" style="width:17.5cm" alt="Visualizing the &quot;Molecule(s)&quot; using the DL_POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.6:</span></strong> Visualizing the "<span><code>Molecule(s)</code></span>" using the DL_POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
Whereas as illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#ivizn" data-reference-type="ref" data-reference="ivizn">7.7</a> the effect of the second check button <a href="#vizn" data-reference-type="ref" data-reference="vizn">[vizn]</a> is to help visualizing the atom numbers as assigned in the "<span><code>FIELD</code></span>" file, numbers range from 1 to the total number of atom(s) in the molecule.</p>
<div id="ivizn">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/mol/mol-id.png" id="ivizn" style="width:17.5cm" alt="Visualizing the atom(s) number(s) within the &quot;Molecule(s)&quot;, to clarify the representation a single fragment from the &quot;NiPhth&quot; example is displayed." />
<figcaption aria-hidden="true"><strong><span>Figure 7.7:</span></strong> Visualizing the atom(s) number(s) within the "<span><code>Molecule(s)</code></span>", to clarify the representation a single fragment from the "<span><code>NiPhth</code></span>" example is displayed.</figcaption>
<br /></figure>
</div>
</div>
<p>Some mouse options are available in the "<span><code>Molecule(s)</code></span>" tab:</p>
<ul>
<li><p>Double click anywhere on the line to edit the name of the molecule.</p></li>
<li><p>Use the right click to open the contextual menu to edit the name/add/remove molecule(s).</p></li>
</ul>
<p>As illustrated in figures <a href="/Atomes-doc/chap-7/section-1/sub-section-1#moladd" data-reference-type="ref" data-reference="moladd">7.8</a> and <a href="/Atomes-doc/chap-7/section-1/sub-section-1#molrem" data-reference-type="ref" data-reference="molrem">7.9</a> it is possible to add molecule(s) to the force field, or to merge existing molecules from the force field into a single description:</p>
<ul>
<li><p>Providing that the multiplicity of a molecule is higher than 1, and therefore than several identical molecular fragment exist, it is possible to split the existing molecule, preserving the old description for the non-selected fragment(s) and creating a copy for the selected fragment(s). This process is illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#moladd" data-reference-type="ref" data-reference="moladd">7.8</a>.</p></li>
<li><p>Providing that some molecules in the force field have the same chemistry and connectivity it is possible to merge the description this two separates molecules as one. This process is illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#molrem" data-reference-type="ref" data-reference="molrem">7.9</a>.</p></li>
</ul>
<div id="moladd">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/mol/mol-split.png" id="moladd" style="width:16.5cm" alt="Adding molecules to the force field using the DL_POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.8:</span></strong> Adding molecules to the force field using the DL_POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<div id="molrem">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/mol/mol-merge.png" id="molrem" style="width:16.5cm" alt="Merging molecules from the force field using the DL_POLY calculation assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.9:</span></strong> Merging molecules from the force field using the DL_POLY calculation assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="the-atoms-tab">The "<span><code>Atom(s)</code></span>" tab</h5>
<p>When molecules have been properly defined, the next tab allows to configure the atom(s) description, this has to be done for each molecule:<br />
</p>
<div id="atab">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/atoms-init.png" id="atab" style="width:16.5cm" alt="The &quot;Atom(s)&quot; tab in the DL-POLY assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.10:</span></strong> The "<span><code>Atom(s)</code></span>" tab in the DL-POLY assistant.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
As illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#atab" data-reference-type="ref" data-reference="atab">7.10</a> the first element to notice in the "<span><code>Atom(s)</code></span>" tab is the combo box for the choice of the molecule to work on, that same combo box will be inserted in any tab dedicated to intra-molecular interactions.<br />
<br />
Each line corresponds to a particular atom for the molecule specified above, and for each atom the information is as follow:</p>
<ol>
<li><p>ID in the molecule</p></li>
<li><p>Name in the molecule</p></li>
<li><p>Element</p></li>
<li><p>Mass</p></li>
<li><p>Charge</p></li>
<li><p>Number of frozen atoms for this type</p></li>
<li><p>Total number of atoms for this type</p></li>
<li><p>Check button to visualize the atom in the model</p></li>
</ol>
<div id="a-add">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/add-atoms.png" id="a-add" style="width:16.5cm" alt="Inserting a new atom description in the &quot;Atom(s)&quot; tab." />
<figcaption aria-hidden="true"><strong><span>Figure 7.11:</span></strong> Inserting a new atom description in the "<span><code>Atom(s)</code></span>" tab.</figcaption>
<br /></figure>
</div>
</div>
<div id="a-rem">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/merge-atoms.png" id="a-rem" style="width:16.5cm" alt="Merging two existing atom descriptions in the &quot;Atom(s)&quot; tab." />
<figcaption aria-hidden="true"><strong><span>Figure 7.12:</span></strong> Merging two existing atom descriptions in the "<span><code>Atom(s)</code></span>" tab.</figcaption>
<br /></figure>
</div>
</div>
<p>Before editing an atom property it might be necessary to add or remove some atom types from the existing description, these actions are available using the mouse right button contextual menu. As illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#a-add" data-reference-type="ref" data-reference="a-add">7.11</a> it is possible to create a new type of atom from an existing atom type that contains more that 1 atom. And as illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#a-rem" data-reference-type="ref" data-reference="a-rem">7.12</a> it is possible to merge an existing atom description with any other atom type of the same chemical species. Whether it is for inserting or merging an atom it is important to specify that all existing atomic descriptions, a part for the new one or the one to be removed, will be preserved and thus that no information will be lost in this process.<br />
<br />
Editing an atom properties, by double clicking on the atom line or using the contextual menu, will open the "<span><code>Atom parameter(s)</code></span>" dialog:<br />
</p>
<div id="a-edit">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/edit-atoms.png" id="a-edit" style="width:13.5cm" alt="Editing an atom description in the &quot;Atom(s)&quot; tab." />
<figcaption aria-hidden="true"><strong><span>Figure 7.13:</span></strong> Editing an atom description in the "<span><code>Atom(s)</code></span>" tab.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
The "<span><code>Field parameters</code></span>" combo allows to switch between "<span><code>Manual</code></span>" (user defined only) and "<span><code>Automatic</code></span>" force field parameters (if any available). By default the choice is set on "<span><code>Manual</code></span>" and the "<span><code>Force field type</code></span>" combo is inactive. The "<span><code>Frozen</code></span>" button allows to pick atom(s) to be frozen among the edited atom type (see figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#a-edit" data-reference-type="ref" data-reference="a-edit">7.13</a>). When selecting "<span><code>Automatic</code></span>" for the "<span><code>Field parameters</code></span>" combo, providing that some force field parameters are found "<span><code>Force field type</code></span>" combo becomes active and offers to choose between available description(s):<br />
</p>
<div id="f-edit">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/field-atoms.png" id="f-edit" style="width:13.5cm" alt="Choosing a force field description for the atom type in the &quot;Atom(s)&quot; tab. In this example available parameters are from the Amber 99 force field." />
<figcaption aria-hidden="true"><strong><span>Figure 7.14:</span></strong> Choosing a force field description for the atom type in the "<span><code>Atom(s)</code></span>" tab. In this example available parameters are from the Amber 99 force field.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
As soon as a selection has been made a dialog (see fig. <a href="/Atomes-doc/chap-7/section-1/sub-section-1#amb-at" data-reference-type="ref" data-reference="amb-at">7.15</a>) pops up to update the "<span><code>FIELD</code></span>" file with the available parameters in the force field selected at the initializing stage of the assistant (Amber 99 in this example).<br />
</p>
<div id="amb-at">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/amb-atoms.png" id="amb-at" style="width:9.5cm" alt="The &quot;Update FIELD file with the force field parameters&quot; dialog." />
<figcaption aria-hidden="true"><strong><span>Figure 7.15:</span></strong> The "<span><code>Update FIELD file with the force field parameters</code></span>" dialog.</figcaption>
<br /></figure>
</div>
</div>
<p>The number of lines in the table in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#amb-at" data-reference-type="ref" data-reference="amb-at">7.15</a> depends on both the option(s) ("<span><code>Flexible chemical bond(s), Bond angle(s) ...</code></span>") selected to create the "<span><code>FIELD</code></span>" file, the line will appears only if the option was selected, and the availability of the data for that particular type of atom in the selected force field. In this example all the properties presented were selected to create the "<span><code>FIELD</code></span>" file and some data exist in the force field for the "<span><code>CB</code></span>" atom type with each particular property. This dialog helps to update quickly any parameters to be used to create the "<span><code>FIELD</code></span>" file:</p>
<div id="amb-li">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/atoms/amb-ligne.png" id="amb-li" style="width:16cm" alt="Updating parameters for the &quot;FIELD&quot; file, using field parameters for the &quot;CB&quot; atom(s) in the &quot;Amber 99&quot; force field." />
<figcaption aria-hidden="true"><strong><span>Figure 7.16:</span></strong> Updating parameters for the "<span><code>FIELD</code></span>" file, using field parameters for the "<span><code>CB</code></span>" atom(s) in the "<span><code>Amber 99</code></span>" force field.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
As illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#amb-li" data-reference-type="ref" data-reference="amb-li">7.16</a> to update any "<span><code>FIELD</code></span>" file value simply browse the property tree, select the desired force field parameters among available data, remember to check the "<span><code>update</code></span>" button at the end of the line, and finally pressed the "<span><code>Apply</code></span>" button.</p>
<h5 class="unnumbered" id="core-shell-units">"<span><code>Core-shell unit(s)</code></span>"</h5>
<div id="css">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/cs.png" id="css" style="width:16cm" alt="&quot;Core-shell unit(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.17:</span></strong> "<span><code>Core-shell unit(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="constraint-bonds">"<span><code>Constraint bond(s)</code></span>"</h5>
<div id="cbs">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/cb.png" id="cbs" style="width:16cm" alt="&quot;Constrains bond(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.18:</span></strong> "<span><code>Constrains bond(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="mean-force-potentials">"<span><code>Mean force potential(s)</code></span>"</h5>
<div id="mpfs">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/mpf.png" id="mpfs" style="width:16cm" alt="&quot;Mean force potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.19:</span></strong> "<span><code>Mean force potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="rigid-units">"<span><code>Rigid unit(s)</code></span>"</h5>
<div id="rus">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/ru.png" id="rus" style="width:16cm" alt="&quot;Rigid unit(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.20:</span></strong> "<span><code>Rigid unit(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="tethering-potentials">"<span><code>Tethering potential(s)</code></span>"</h5>
<div id="teth">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/tet.png" id="teth" style="width:16cm" alt="&quot;Tethering potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.21:</span></strong> "<span><code>Tethering potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="flexible-chemical-bonds-and-bond-restraints">"<span><code>Flexible chemical bond(s)</code></span>" and "<span><code>Bond restraint(s)</code></span>"</h5>
<p>The tabs for the "<span><code>Flexible chemical bond(s)</code></span>" and the "<span><code>Bond restraint(s)</code></span>" being extremely similar, this manual presents only the part related to "<span><code>Flexible chemical bond(s)</code></span>".<br />
As illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#bds" data-reference-type="ref" data-reference="bds">7.22</a> the bonds, for the selected molecule, are listed by type depending on the nature of the field atoms involved, also for each type of bond it is possible to display every single bond in the molecule.<br />
</p>
<div id="bds">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/bonds/bonds.png" id="bds" style="width:16cm" alt="&quot;Flexible chemical bond(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.22:</span></strong> "<span><code>Flexible chemical bond(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
Each line corresponds to a either to a bond type, or a particular bond, for the molecule specified above, and for each bond the information is as follow:</p>
<ol>
<li><p>ID in the molecule (if the line refers to a bond type).</p></li>
<li><p>Name for atom type 1 (bond type), or field number for atom 1 (bond).</p></li>
<li><p>Name for atom type 2 (bond type), or field number for atom 2 (bond).</p></li>
<li><p>Value measured in the model: average for all bonds for that type, or, value (or average if the multiplicity for the molecule is &gt; 1) for that particular bond.</p></li>
<li><p>Visualize all bonds of that type or that particular bond in the model.</p></li>
<li><p>Use to create the "<span><code>FIELD</code></span>" file, if not checked the bond / type will not be used.</p></li>
<li><p>Potential to use to describe all bonds of that type ("<span><code>Default:</code></span>" value) or that particular bond in the model.</p></li>
<li><p>Numerical value(s) for the parameters of the selected potential.</p></li>
</ol>
<p>The description of the bond(s) can be modified simultaneously for all bond(s) of the same type using the root line that type, or one by one by browsing the list and picking any line. It is therefore possible to choose a different parametrization for every single bond in the molecule. Some parameters can be modified directly in the table, otherwise a simple double click using the mouse left button will open the bond edition dialog illustrated in figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#bded" data-reference-type="ref" data-reference="bded">7.23</a>.</p>
<div id="bded">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/bonds/bd-edit.png" id="bded" style="width:15cm" alt="&quot;Flexible chemical bond(s)&quot; edition dialog in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.23:</span></strong> "<span><code>Flexible chemical bond(s)</code></span>" edition dialog in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<p>In figure <a href="/Atomes-doc/chap-7/section-1/sub-section-1#bded" data-reference-type="ref" data-reference="bded">7.23</a> the "<span><code>Field parameters</code></span>" combo box presents the list of matching parameters, chemical species wise, found in the force field selected at the initialization stage.<br />
The next tabs of the assistant dedicated to intra-molecular properties are as follow:</p>
<ul>
<li><p>"<span><code>Bond angle(s)</code></span>"</p></li>
<li><p>"<span><code>Angular restraint(s)</code></span>"</p></li>
<li><p>"<span><code>Dihedral angle(s)</code></span>"</p></li>
<li><p>"<span><code>Torsional restraint(s)</code></span>"</p></li>
<li><p>"<span><code>Improper angle(s)</code></span>"</p></li>
<li><p>"<span><code>Inversion angle(s)</code></span>"</p></li>
</ul>
<p>For all these properties the philosophy is similar to the one presented above for the "<span><code>Flexible chemical bond(s)</code></span>". Hence will only briefly illustrate the different tabs without more details.</p>
<h5 class="unnumbered" id="bond-angles-and-angular-restraints">"<span><code>Bond angle(s)</code></span>" and "<span><code>Angular restraint(s)</code></span>"</h5>
<div id="ans">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/angles.png" id="ans" style="width:16cm" alt="&quot;Bond angle(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.24:</span></strong> "<span><code>Bond angle(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="dihedral-angles-and-torsional-restraints">"<span><code>Dihedral angle(s)</code></span>" and "<span><code>Torsional restraint(s)</code></span>"</h5>
<div id="dihs">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/dih.png" id="dihs" style="width:16cm" alt="&quot;Dihedral angle(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.25:</span></strong> "<span><code>Dihedral angle(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="improper-angles">"<span><code>Improper angle(s)</code></span>"</h5>
<div id="imps">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/imp.png" id="imps" style="width:16cm" alt="&quot;Improper angle(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.26:</span></strong> "<span><code>Improper angle(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="inversion-angles">"<span><code>Inversion angle(s)</code></span>"</h5>
<div id="invs">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/intra/inv.png" id="invs" style="width:16cm" alt="&quot;Inversion angle(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.27:</span></strong> "<span><code>Inversion angle(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="van-der-waals-potentials">"<span><code>van der Waals potential(s)</code></span>"</h5>
<div id="vdws">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/vdw.png" id="vdws" style="width:16cm" alt="&quot;van der Waals potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.28:</span></strong> "<span><code>van der Waals potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="metal-potentials">"<span><code>Metal potential(s)</code></span>"</h5>
<div id="mets">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/met.png" id="mets" style="width:16cm" alt="&quot;Metal potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.29:</span></strong> "<span><code>Metal potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="tersoff-potentials">"<span><code>Tersoff potential(s)</code></span>"</h5>
<div id="ters">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/ter.png" id="ters" style="width:16cm" alt="&quot;Tersoff potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.30:</span></strong> "<span><code>Tersoff potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="three-body-potentials">"<span><code>Three body potential(s)</code></span>"</h5>
<div id="tbds">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/tbd.png" id="tbds" style="width:16cm" alt="&quot;Three potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.31:</span></strong> "<span><code>Three potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="four-body-potentials">"<span><code>Four body potential(s)</code></span>"</h5>
<div id="fbds">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/fbd.png" id="fbds" style="width:16cm" alt="&quot;Four body potential(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.32:</span></strong> "<span><code>Four body potential(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="external-fields">"<span><code>External field(s)</code></span>"</h5>
<div id="fexts">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/field/inter/fext.png" id="fexts" style="width:16cm" alt="&quot;External field(s)&quot; tab in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.33:</span></strong> "<span><code>External field(s)</code></span>" tab in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<h5 id="preview">"<span><code>Preview</code></span>"</h5>
<p>At any time when using the "<span><code>DL-POLY</code></span>" assistant, the "<span><code>Preview</code></span>" button allows open the "<span><code>DL-POLY files preview</code></span>" dialog, to visualize the "<span><code>CONTROL</code></span>", "<span><code>FIELD</code></span>" and "<span><code>CONFIG</code></span>" file(s).<br />
</p>
<div id="prevdlp">
<div align="center">
<figure>
<img src="/Atomes-doc/img/md/dlpoly/preview.png" id="prevdlp" style="width:16cm" alt="&quot;DL-POLY files preview&quot; dialog in the &quot;DL-POLY&quot; assistant." />
<figcaption aria-hidden="true"><strong><span>Figure 7.34:</span></strong> "<span><code>DL-POLY files preview</code></span>" dialog in the "<span><code>DL-POLY</code></span>" assistant.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
The "<span><code>DL-POLY files preview</code></span>" dialog (fig. <a href="/Atomes-doc/chap-7/section-1/sub-section-1#prevdlp" data-reference-type="ref" data-reference="prevdlp">7.34</a>) contains a notebook with up to 3 tabs depending on the file(s) to be created. Each tab presents the content of a file, "<span><code>CONTROL</code></span>", "<span><code>FIELD</code></span>" or "<span><code>CONFIG</code></span>", and highlights option(s) and keyword(s) using color(s) and font layout option(s).</p>
<h5 id="finalizing-the-assistant-and-files-creation">Finalizing the assistant and file(s) creation</h5>
<p>When pressing the "<span><code>Apply</code></span>" button on the file tab of the assistant, the user is asked to selected a folder. "<span><code>CONTROL</code></span>", "<span><code>FIELD</code></span>" and "<span><code>CONFIG</code></span>" if selected, will be created in the selected directory.<br />
Following the file(s) creation or if the assistant is closed anyway, the "<span><code>DL-POLY</code></span>" force field data will be preserved. Therefore allowing the re-open the assistant later for further modifications.<br />
All existing force field data can also saved in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> project and/or workspace files, simply remember to save your work.</p>
