<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The "<span><code>User preferences</code></span>" dialog that can be opened via the "<span><code>Help</code></span>" menu of the main window allows to adjust <span><strong>atomes</strong></span> internal options for all projects to be opened in <span><strong>atomes</strong></span> workspace, configuration options include:</p>
<ul>
<li><p>Analysis option</p></li>
<li><p>OpenGL rendering options</p></li>
<li><p>Model atom(s), bond(s), label(s) and model box options</p></li>
<li><p>Representation, projection, background, axis and selection options</p></li>
</ul>
<p>As illustrated in the next pages it is possible to configure the default behavior of several parts of the software.</p>
<div id="prefs">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/prefs/prefs.png" id="prefs" style="width:17cm" alt="The &quot;User preferences&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.1:</span></strong> The "<span><code>User preferences</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
When clicking on "<span><code>Apply</code></span>", and after confirmation, the options defined in the "<span><code>User preferences</code></span>" dialog are applied to the active session of <span><strong>atomes</strong></span>. Afterwards options can be stored in a XML file named "<span><code>atomes.pml</code></span>" (which exact location depends on your operating system), if found this file will be process at every <span><strong>atomes</strong></span> startup to ensure for user selected options to be used. Optionaly if projects are opened in <span><strong>atomes</strong></span> workspace it is possible to apply selected options to any of these projects.<br />
Note that you can restore <span><strong>atomes</strong></span> default internal parameters at any time from the "<span><code>General</code></span>" tab.</p>
