<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="pmod">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/prefs/model.png" id="pmod" style="width:15cm" alt="The &quot;Model preferences&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.1:</span></strong> The "<span><code>Model preferences</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>This tab allows to configure model style from atomic species color to atom and bond radii for any rendering style available in the <span><strong>atomes</strong></span> software. Atom and clone labels as well as model box layout can also be configured.</p>
