<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="pcalc">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/prefs/calcs.png" id="pcalc" style="width:15cm" alt="The &quot;Analysis preferences&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.10:</span></strong> The "<span><code>Analysis preferences</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Analysis options tabs <a href="/atomes-doc/chap-3/section-4/sub-section-1#pcalc" data-reference-type="ref" data-reference="pcalc">3.10</a> cover physico-chemical analysis parameters required to perform the corresponding calculations. The "<span><code>General</code></span>" page offers to specify how first neighbor atoms are determined in the <span><strong>atomes</strong></span> software.</p>
