<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="pogl">
<div align="center">
<figure>
<img src="/atomes-doc/img/main/prefs/opengl.png" id="pogl" style="width:16cm" alt="The &quot;OpenGL preferences&quot; dialog in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 3.1:</span></strong> The "<span><code>OpenGL preferences</code></span>" dialog in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Rendering can be entirely configured using this tab, including style and colormpas, material aspect, lights and fog options that can be adjusted to user preferences.</p>
