<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="manim">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/menu/m_anim.png" id="manim" style="width:5cm" alt="The &quot;Animates&quot; menu of the OpenGL window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.1:</span></strong> The "<span><code>Animates</code></span>" menu of the OpenGL window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>The animate menu allows to open 3 different dialog boxes:</p>
<h5 class="unnumbered" id="sdw">The "<span><code>Spin</code></span>" dialog</h5>
<p>The "<span><code>Spin</code></span>" dialog [Fig. <a href="#spin" data-reference-type="ref" data-reference="spin">5.14</a>] allows to spin the model:</p>
<div id="spin">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/spin.png" id="spin" style="width:5cm" alt="The &quot;Spin&quot; dialog of the OpenGL window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.14:</span></strong> The "<span><code>Spin</code></span>" dialog of the OpenGL window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
When one of the arrow (left, right, up, down) button is pressed the model will start rotating in that direction. It is possible to combine directions by pressing several buttons, also the rotation speed is determined by the number of times the button was pressed: the more it was pressed the faster the model will rotate. To decrease the rotation speed, press the arrow button(s) in the opposite direction(s) to the rotation.</p>
<h5 class="unnumbered" id="the-sequencer-dialog">The "<span><code>Sequencer</code></span>" dialog</h5>
<p>The "<span><code>Sequencer</code></span>" dialog [Fig. <a href="#seq" data-reference-type="ref" data-reference="seq">5.15</a>] allows to animate and review a molecular dynamics trajectory, and is therefore only accessible if the project contains more than a single atomic configuration:</p>
<div id="seq">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/sequencer.png" id="seq" style="width:8cm" alt="The &quot;Sequencer&quot; dialog of the OpenGL window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.15:</span></strong> The "<span><code>Sequencer</code></span>" dialog of the OpenGL window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="rdw">The "<span><code>Recorder</code></span>" dialog</h5>
<p>The "<span><code>Recorder</code></span>" dialog [Fig. <a href="#rec" data-reference-type="ref" data-reference="rec">5.16</a>] allows to record <span><strong><span>any action</span></strong></span> on the OpenGL window:<br />
</p>
<div id="rec">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/rec-w.png" id="rec" style="width:12cm" alt="The &quot;Recorder&quot; dialog of the OpenGL window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.16:</span></strong> The "<span><code>Recorder</code></span>" dialog of the OpenGL window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
As soon as the green "<span><code>Record</code></span>" button [Fig. <a href="#rec" data-reference-type="ref" data-reference="rec">5.16</a>-a] is pressed, and turns to red [Fig. <a href="#rec" data-reference-type="ref" data-reference="rec">5.16</a>-b], <span><strong><span>any action</span></strong></span> performed on the OpenGL window will be recorded, (the "<span><code>Spin</code></span>" and the "<span><code>Sequencer</code></span>" dialogs for example can be opened and used while recording) and the recording will continue until the "<span><code>Stop</code></span>" button is pressed, then the "<span><code>Movie encoding</code></span>" dialog will pop-up [Fig. <a href="#enc" data-reference-type="ref" data-reference="enc">5.17</a>]</p>
<div id="enc">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/encode.png" id="enc" style="width:12cm" alt="The &quot;Movie encoding&quot; dialog of the OpenGL window in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.17:</span></strong> The "<span><code>Movie encoding</code></span>" dialog of the OpenGL window in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>The "<span><code>Movie encoding</code></span>" dialog allows to adjust any parameters required to encode a nice movie.<br />
Many of the video codecs available in atoms [Fig. <a href="#enc" data-reference-type="ref" data-reference="enc">5.17</a>] are sensitive to the parameters that can be entered in this dialog. For instance the MPEG-4 and H264 video codecs seem to be very sensitive to the utilization of standard video resolutions (800x600, 1980x1024 ...). However by default <span><em><span><strong><span>Atomes</span></strong></span></em></span> input the dimensions of the OpenGL window as Movie resolution and the codec might not like non-standard parameters as the values in figure <a href="#enc" data-reference-type="ref" data-reference="enc">5.17</a>, and the encoding could fail.<br />
Depending on the codec this might be true for any of the parameters that can be adjusted in this dialog. Moreover error messages (from the encoding library) are not necessarily displayed, and the error might not be seen directly.<br />
However even if the encoding fail <span><em><span><strong><span>Atomes</span></strong></span></em></span> will not crash, and as long as the "<span><code>Cancel</code></span>" button of the dialog [Fig. <a href="#enc" data-reference-type="ref" data-reference="enc">5.17</a>] is not pressed all data required to encode the movie is perfectly safe in memory, and there is no problem in retrying to encode with a change of parameters.<br />
