<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="mview">
<div align="center">
<figure>
<img src="/img/visu/menu/m_view-w.png" id="mview" style="width:16.5cm" alt="The &quot;View&quot; menu and the attached submenus in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.1:</span></strong> The "<span><code>View</code></span>" menu and the attached submenus in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Being very intuitive the actions of the "<span><code>View</code></span>" menu will not be discussed in this manual.</p>
