<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="modl">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/menu/m_model-w.png" id="modl" style="width:16.5cm" alt="The &quot;Model&quot; menu and the attached submenus." />
<figcaption aria-hidden="true"><strong><span>Figure 5.5:</span></strong> The "<span><code>Model</code></span>" menu and the attached submenus.</figcaption>
<br /></figure>
</div>
</div>
<h5 id="the-atoms-menu">The "<span><code>Atom(s)</code></span>" menu</h5>
<p>The "<span><code>Atom(s)</code></span>" menu [Fig. <a href="/Atomes-doc/chap-5/section-1/sub-section-2#modl" data-reference-type="ref" data-reference="modl">5.5</a>-a] offers to configure some visual features related to the chemical species in the model. This menu contains shortcuts for some the properties that can be adjusted using the more advanced "<span><code>Atom(s) configuration</code></span>" dialog, and that can be opened using any of the "<span><code>Advanced</code></span>" buttons in the menu. The "<span><code>Atom(s) configuration</code></span>" dialog is presented in figure <a href="/Atomes-doc/chap-5/section-1/sub-section-2#advats" data-reference-type="ref" data-reference="advats">5.6</a>:</p>
<div id="advats">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/atom-adv.png" id="advats" style="width:17cm" alt="The &quot;Atom(s) configuration&quot; dialog in the Atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.6:</span></strong> The "<span><code>Atom(s) configuration</code></span>" dialog in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>The window contains a notebook with 3 tabs:</p>
<ul>
<li><p><span><strong><span>(a)</span></strong></span> The "<span><code>Display properties</code></span>" tab: to adjust chemical species colors, atomic labels, and depending on the model style:</p>
<ul>
<li><p>Ball and sticks: atomic radius</p></li>
<li><p>Wireframe or Points: point size</p></li>
</ul></li>
<li><p><span><strong><span>(b)</span></strong></span> The "<span><code>Label properties</code></span>" tab: to adjust the aspect of the atomic labels.</p></li>
<li><p><span><strong><span>(c)</span></strong></span> or <span><strong><span>(d)</span></strong></span> The "<span><code>Atom(s) selection</code></span>": to search for atom(s) in the model. If the model contains less than 10 000 atoms the entire list of atoms is displayed <span><strong><span>(c)</span></strong></span>, otherwise it becomes too complicated to display and a search engine is proposed <span><strong><span>(d)</span></strong></span>.</p></li>
</ul>
<h5 id="the-bonds-menu">The "<span><code>Bond(s)</code></span>" menu</h5>
<p>Via the "<span><code>Bond(s)</code></span>" menu [Fig. <a href="/Atomes-doc/chap-5/section-1/sub-section-2#modl" data-reference-type="ref" data-reference="modl">5.5</a>-b] it is possible to adjust the bond cutoff(s), and depending on the model style:</p>
<ul>
<li><p>Ball and sticks: bonds radius(ii)</p></li>
<li><p>Cylinders: bond radius</p></li>
<li><p>Wireframe: line width</p></li>
</ul>
<h5 id="Clones">The "<span><code>Clone(s)</code></span>" menu</h5>
<p>The <span><em><span><strong><span>Atomes</span></strong></span></em></span> program uses <span><strong><span>clones</span></strong></span> to illustrate the presence of atomic bond(s) on the edges of the simulation box and existing because of the periodic boundary conditions (see section <a href="/Atomes-doc/appendix/app-5/section-1/" data-reference-type="ref" data-reference="pbc">5.1</a> for more information on the PBC).<br />
For the "<span><code>Clone(s)</code></span>" menu to be activated two conditions must be fulfilled: to use PBC, ie. the model must have a periodicity, and, for such bonds via PBC to exist. If both conditions are met, then the first button of the menu to "<span><code>Show/Hide Clones</code></span>" will be active and it becomes possible to show or hide the <span><strong><span>clones</span></strong></span>.<br />
Please note that <span><strong><span>clone</span></strong></span> atoms/bonds are translucent to make them easily distinguishable from their atom/bond counterparts, figure <a href="/Atomes-doc/chap-5/section-1/sub-section-2#atcl" data-reference-type="ref" data-reference="atcl">5.7</a> illustrates the <span><strong><span>clones</span></strong></span> idea using the silica glass model:</p>
<div id="atcl">
<div align="center">
<figure>
<img src="/Atomes-doc/img/visu/clones-w.png" id="atcl" style="width:16.5cm" alt="The concept of clones in the Atomes program. a) Standard representation using cylinders, b) Clones are included in the representation." />
<figcaption aria-hidden="true"><strong><span>Figure 5.7:</span></strong> The concept of <span><strong><span>clones</span></strong></span> in the <span><em><span><strong><span>Atomes</span></strong></span></em></span> program. <span><strong><span>a)</span></strong></span> Standard representation using cylinders, <span><strong><span>b)</span></strong></span> Clones are included in the representation.</figcaption>
<br /></figure>
</div>
</div>
<p>If the <span><strong><span>clones</span></strong></span> are visible then the two "<span><code>Atom(s)</code></span>" and "<span><code>Bond(s)</code></span>" submenus will be activated as well. These menus are reproductions of the upper level "<span><code>Atom(s)</code></span>" and "<span><code>Bond(s)</code></span>" menus, and windows, but dedicated to the <span><strong><span>clones</span></strong></span>, this allows to make the <span><strong><span>clones</span></strong></span> even more distinguishable in the 3D representation.</p>
