<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<div id="mtools">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/menu/m_tools-w.png" id="mtools" style="width:16.5cm" alt="The &quot;Tools&quot; menu and the attached submenus in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 5.1:</span></strong> The "<span><code>Tools</code></span>" menu and the attached submenus in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>The "<span><code>Edit</code></span>" menu <span><strong>a)</strong></span>, that regroups the edition tools will be covered in chapter <a href="/atomes-doc/chap-3/section-7/" data-reference-type="ref" data-reference="edit">3.7</a>, and the "<span><code>Molecular Dynamics</code></span>" menu <span><strong>d)</strong></span>, regrouping the MD input assistants will be covered in chapter <a href="/atomes-doc/chap-7/" data-reference-type="ref" data-reference="md">7</a>. Also the actions of the "<span><code>Invert</code></span>" menu <span><strong>e)</strong></span> being pretty intuitive, this section will only present the "<span><code>Measures</code></span>" button/dialog, the "<span><code>Mouse mode</code></span>" <span><strong>b)</strong></span>, "<span><code>Selection mode</code></span>" <span><strong>c)</strong></span> menus.</p>
<h5 class="unnumbered" id="mdw">The "<span><code>Measures</code></span>" dialog</h5>
<p>Pressing the "<span><code>Measures</code></span>" button will open the "<span><code>Measures</code></span>" dialog [Fig. <a href="/atomes-doc/chap-7/ial" data-reference-type="ref" data-reference="mdial">5.10</a>], that contains a notebook with 3 tabs, for inter-atomic distances, angles and dihedrals, and a button labelled "<span><code>Font and style</code></span>" to configure how the measure(s) will appear on the model.<br />
</p>
<div id="mdial">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/wmeas/meas.png" id="mdial" style="width:17.5cm" alt="The &quot;Measures&quot; dialog in the atomes program, with the &quot;Distances&quot;, &quot;Angles&quot; and &quot;Dihedrals&quot; tabs." />
<figcaption aria-hidden="true"><strong><span>Figure 5.10:</span></strong> The "<span><code>Measures</code></span>" dialog in the <span><strong>atomes</strong></span> program, with the "<span><code>Distances</code></span>", "<span><code>Angles</code></span>" and "<span><code>Dihedrals</code></span>" tabs.</figcaption>
<br /></figure>
</div>
</div>
<p>Each tab contains the respective measured properties for all the atoms in selection (see section <a href="/atomes-doc/chap-5/section-2/" data-reference-type="ref" data-reference="mviz">5.2</a> for more information on the selection process), this means the atoms that have been selected before opening the dialog, or, while it is opened and the tabs will refresh. The tabs read as follow:</p>
<ul>
<li><p>First (2/3/4) columns the atoms id’s</p></li>
<li><p>Column (3/4/5): the value measured in the model</p></li>
<li><p>Column (4/5/9): If PBC are used/required to measure the value (to avoid visual deception)</p></li>
</ul>
<p><span><strong>Behavior of the "<span><code>Measures</code></span>" dialog:</strong></span></p>
<ol>
<li><p>If too many atoms are in selection then the tabs will remain empty and the measures will not show up. To get the information about the measures back simply decrease the number of atoms selected under 20 atoms for the distances and the angles, and under 10 for the dihedrals.<br />
</p></li>
<li><p>If any line is selected by a mouse click in the tabs, then the font color of this line will change and the corresponding measure will appear in the model with the same color. In figure <a href="/atomes-doc/chap-7/ial" data-reference-type="ref" data-reference="mdial">5.10</a>, 2 lines are selected in the "<span><code>Distances</code></span>" tab, and 1 line is selected in the "<span><code>Angles</code></span>" tab, the result is presented in figure <a href="/atomes-doc/chap-5/section-1/sub-section-4#ex-meas" data-reference-type="ref" data-reference="ex-meas">5.11</a>.<br />
</p>
<div id="ex-meas">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/wmeas/Ni-Phth-meas2.png" id="ex-meas" style="width:15cm" alt="Some examples of measurements displayed in the OpenGL window." />
<figcaption aria-hidden="true"><strong><span>Figure 5.11:</span></strong> Some examples of measurements displayed in the OpenGL window.</figcaption>
<br /></figure>
</div>
</div></li>
<li><p>No visual information is available for the dihedral angles and only the numerical values are provided.</p></li>
</ol>
<h5 class="unnumbered" id="volw">The "<span><code>Volumes</code></span>" dialog</h5>
<p>Pressing the "<span><code>Volumes</code></span>" button will open the "<span><code>Volumes</code></span>" dialog [Fig. <a href="/atomes-doc/chap-5/section-1/sub-section-4#mvols" data-reference-type="ref" data-reference="mvols">5.12</a>], that contains a notebook with 3 tabs, for overall atomic volumes ("<span><code>Model</code></span>"), isolated fragment volumes ("<span><code>Fragment(s)</code></span>"), molecular volume ("<span><code>Molecule(s)</code></span>").</p>
<div id="mvols">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/wvols/vol-tabs.png" id="mvols" style="width:16.5cm" alt="The &quot;Volumes&quot; dialog in the atomes program, with the &quot;Model&quot;, &quot;Fragment(s)&quot; and &quot;Molecule(s)&quot; tabs." />
<figcaption aria-hidden="true"><strong><span>Figure 5.12:</span></strong> The "<span><code>Volumes</code></span>" dialog in the <span><strong>atomes</strong></span> program, with the "<span><code>Model</code></span>", "<span><code>Fragment(s)</code></span>" and "<span><code>Molecule(s)</code></span>" tabs.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
Tabs are divided in two parts: top for molecular volume(s) calculated for the respective target, bottom for calculations to dermine the smallest rectangle parallepiped volume for the respective target. Also volumes can be evalutated for different types of atomic radii (covalent, ionic, van Der Waals and in crystal), and on the first tab ("<span><code>Volumes</code></span>"), the angular precision (rotation of the volume) can be fine tuned for all calculations.<br />
Once a "<span><code>Compute</code></span>" button is pressed the selected calculation will be perfomed, then numerical results become available and can be visualized pressing the corresponding "<span><code>Show/Hide</code></span>" button:</p>
<div id="mvolres">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/wvols/vol-viz.png" id="mvolres" style="width:16.5cm" alt="Volumes visualization in the atomes program: smallest rectangle parallepiped volumes found for each of the isolated fragment in molecule 1." />
<figcaption aria-hidden="true"><strong><span>Figure 5.13:</span></strong> Volumes visualization in the <span><strong>atomes</strong></span> program: smallest rectangle parallepiped volumes found for each of the isolated fragment in molecule 1.</figcaption>
<br /></figure>
</div>
</div>
<h5 class="unnumbered" id="the-mouse-mode-menu">The "<span><code>Mouse mode</code></span>" menu</h5>
<p>This menu allows to switch the mouse mode between "<span><code>Analysis</code></span>" (default) and "<span><code>Edition</code></span>". This menu is active, only and only if, there is a single configuration in the project (and not a molecular dynamics trajectory). Therefore when studying a MD trajectory only the "<span><code>Analysis</code></span>" mode is available.</p>
<h5 class="unnumbered" id="the-selection-mode-menu">The "<span><code>Selection mode</code></span>" menu</h5>
<p>This menu allows to adjust the mouse selection capabilities, and switch between:</p>
<ol>
<li><p><span><strong>Atom/bond</strong></span> (default): selection atom by atom or bond by bond.</p></li>
<li><p><span><strong>Coordination sphere</strong></span>: the atom and all its first neighbors.</p></li>
<li><p><span id="sfrag" label="sfrag"></span> <span><strong>Fragment</strong></span>: the atom and all other atom(s) that belong to the same <span><strong>fragment</strong></span>.</p></li>
<li><p><span id="smol" label="smol"></span> <span><strong>Molecule</strong></span>: the atom and all other atom(s) that belong to the same <span><strong>molecule</strong></span>.</p></li>
<li><p><span><strong>Single fragment</strong></span>: same as <a href="#sfrag" data-reference-type="ref" data-reference="sfrag">[sfrag]</a> and unselect all other atoms in the model.</p></li>
<li><p><span><strong>Single molecule</strong></span>: same as <a href="#smol" data-reference-type="ref" data-reference="smol">[smol]</a> and unselect all other atoms in the model.</p></li>
<li><p><span><strong>Measures (Edition mode only)</strong></span>: will be covered in chapter <a href="/atomes-doc/chap-6/" data-reference-type="ref" data-reference="edition">6</a>.</p></li>
</ol>
