<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>It is possible to activate the mouse "<span><code>Edition</code></span>" using the "<span><code>Tools</code></span>" menu:</p>
<div id="editool">
<div align="center">
<figure>
<img src="/Atomes-doc/img/edit/mouse/mode-w.png" id="editool" style="width:16.5cm" alt="a) Activating the mouse &quot;Edition&quot; mode using the &quot;Tools&quot; menu. b) when switching mode the title bar of the OpenGL window changes." />
<figcaption aria-hidden="true"><strong><span>Figure 6.1:</span></strong> <span><strong><span>a)</span></strong></span> Activating the mouse "<span><code>Edition</code></span>" mode using the "<span><code>Tools</code></span>" menu. <span><strong><span>b)</span></strong></span> when switching mode the title bar of the OpenGL window changes.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
It is also possible to use the <kbd>Alt</kbd>+<kbd>e</kbd> keyboard shortcut, and to switch back to "<span><code>Analysis</code></span>" mode using the <kbd>Alt</kbd>+<kbd>a</kbd> shortcut.<br />
In "<span><code>Edition</code></span>" mode the mouse button functions are the following:</p>
<ul>
<li><p><span><strong><span>Left button</span></strong></span></p>
<ul>
<li><p><span><em><span>Single click on object</span></em></span>: object selection</p></li>
<li><p><span><em><span>Pressed on background + motion</span></em></span>: <span><strong><span>selected</span></strong></span> (<span><em><span>only</span></em></span>) atomic coordinates rotation <span class="math inline">\(^*\)</span></p></li>
</ul></li>
<li><p><span><strong><span>Scroll button</span></strong></span></p>
<ul>
<li><p><span><em><span>Scrolled</span></em></span>: zoom in/out</p></li>
<li><p><span><em><span>Pressed + motion</span></em></span>: <span><strong><span>selected</span></strong></span> (<span><em><span>only</span></em></span>) atomic coordinates translation</p></li>
</ul></li>
<li><p><span><strong><span>Right button</span></strong></span></p>
<ul>
<li><p><span><em><span>Pressed on background</span></em></span>: edition contextual menu</p></li>
<li><p><span><em><span>Pressed on object</span></em></span>: object edition contextual menu</p></li>
</ul></li>
</ul>
<p><span class="math inline">\(*\)</span> The rotation is performed around the coordinates barycenter of the selected atoms.</p>
