<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>Pressed over any atom/bond the right button opens the object edition contextual menu:</p>
<div id="oecm">
<div align="center">
<figure>
<img src="/Atomes-doc/img/edit/mouse/ocm-w.png" id="oecm" style="width:14cm" alt="The object edition contextual menu: a) for an atom, b) for a chemical bond." />
<figcaption aria-hidden="true"><strong><span>Figure 6.28:</span></strong> The object edition contextual menu: <span><strong><span>a)</span></strong></span> for an atom, <span><strong><span>b)</span></strong></span> for a chemical bond.</figcaption>
<br /></figure>
</div>
</div>
<p><br />
The object edition contextual menu in figure <a href="#oecm" data-reference-type="ref" data-reference="oecm">6.28</a> follows exactly the construction described in section <a href="/Atomes-doc/chap-5/section-2/sub-section-2" data-reference-type="ref" data-reference="mobjm">5.2.2</a> and <a href="/Atomes-doc/chap-5/section-2/sub-section-1#mocmcons" data-reference-type="ref" data-reference="mocmcons">5.2.1.1</a> for the object contextual menu in "<span><code>Analysis</code></span>" mode.<br />
