<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The mouse right click button on the background of the OpenGL window opens the edition contextual menu:<br />
</p>
<div id="rccm">
<div align="center">
<figure>
<img src="/Atomes-doc/img/edit/mouse/rc-w.png" id="rccm" style="width:16.5cm" alt="The right button contextual menu on the background of the OpenGL window." />
<figcaption aria-hidden="true"><strong><span>Figure 6.27:</span></strong> The right button contextual menu on the background of the OpenGL window.</figcaption>
<br /></figure>
</div>
</div>
<ul>
<li><p>The "<span><code>Tools</code></span>" submenu [Fig. <a href="#rccm" data-reference-type="ref" data-reference="rccm">6.27</a>-a] reproduces the corresponding top bar menu.</p></li>
<li><p>The "<span><code>Insert</code></span>" submenu [Fig. <a href="#rccm" data-reference-type="ref" data-reference="rccm">6.27</a>-b] offers shortcuts to insert objects in the model, and is similar to the "<span><code>Select ...</code></span>" menus described in section <a href="/Atomes-doc/chap-6/section-1/sub-section-3" data-reference-type="ref" data-reference="medial">6.1.3</a> for the "<span><code>Replace</code></span>" and "<span><code>Remove</code></span>" tabs of the "<span><code>Model edition</code></span>" dialog.</p></li>
<li><p><span id="erbt" label="erbt"></span> The "<span><code>Extract/rebuild on motion</code></span>" button:</p>
<ul>
<li><p>For "<span><code>Atom(s)</code></span>": if activated the object(s) to be moved will be extracted from the model and translated independently, otherwise chemical bond(s) will simply be stretched.</p></li>
<li><p>For "<span><code>Group of atom(s)</code></span>": if activated the atomic positions of the object(s) will be corrected to get only single piece object(s).</p></li>
</ul></li>
<li><p>The "<span><code>Reset motion</code></span>" button will reset all atomic coordinates to the value immediately saved when:</p>
<ul>
<li><p>Entering the "<span><code>Edition</code></span>" mode: <span><strong><span>if no atoms were inserted or removed in the model.</span></strong></span></p></li>
<li><p>Replacing/removing/inserting atom(s): <span><strong><span>if any atom was inserted or removed in the model.</span></strong></span></p></li>
</ul></li>
</ul>
