<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p><span><strong>atomes</strong></span> provides input creation assistants for well known molecular dynamics codes:</p>
<ul>
<li><p><a href="http://www.cpmd.org">CPMD</a> {% cite CPMD %}</p></li>
<li><p><a href="http://cp2k.berlios.de">CP2K</a> {% cite CP2K %}</p></li>
<li><p><a href="https://www.scd.stfc.ac.uk/Pages/DL_POLY.aspx">DL-POLY</a> {% cite DLPOLY %}</p></li>
<li><p><a href="https://lammps.sandia.gov/">LAMMPS</a> {% cite LAMMPS %}</p></li>
</ul>
