<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The mouse button functions are the following:</p>
<ul>
<li><p><span><strong>Left button</strong></span></p>
<ul>
<li><p><span><em><span>Single click on object</span></em></span>: object selection</p></li>
<li><p><span><em><span>Pressed on background + motion</span></em></span>: model rotation</p></li>
</ul></li>
<li><p><span><strong>Scroll button</strong></span></p>
<ul>
<li><p><span><em><span>Scrolled</span></em></span>: zoom in/out</p></li>
<li><p><span><em><span>Pressed + motion</span></em></span>: model translation</p></li>
</ul></li>
<li><p><span><strong>Right button</strong></span></p>
<ul>
<li><p><span><em><span>Pressed on background</span></em></span>: reproduces the OpenGL window top bar menu</p></li>
<li><p><span><em><span>Pressed on object</span></em></span>: object contextual menu</p></li>
</ul></li>
</ul>
