<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The mouse left button allows to select object(s) and display atomic label(s):<br />
</p>
<div id="vsel">
<div align="center">
<figure>
<img src="/atomes-doc/img/visu/sel/sel-w.png" id="vsel" style="width:16.5cm" alt="Illustration of the selection / label process using the mouse left button." />
<figcaption aria-hidden="true"><strong><span>Figure 5.20:</span></strong> Illustration of the selection / label process using the mouse left button.</figcaption>
<br /></figure>
</div>
</div>
<p>The first click on any atom/bond will select this atom/bond, the selection is highlighted / covered in light blue color [Fig. <a href="/atomes-doc/chap-5/section-2/sub-section-1#vsel" data-reference-type="ref" data-reference="vsel">5.20</a>-b], a second click and the atom(s) label(s) will be added to the representation [Fig. <a href="/atomes-doc/chap-5/section-2/sub-section-1#vsel" data-reference-type="ref" data-reference="vsel">5.20</a>-c], finally a third click will unselect the atom(s) and remove the label(s) [Fig. <a href="/atomes-doc/chap-5/section-2/sub-section-1#vsel" data-reference-type="ref" data-reference="vsel">5.20</a>-a].</p>
