<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>As introduced in the previous pages these buttons allows to extract object(s) to be moved or copied/pasted from the model, into single piece object(s). The effect on motion is illustrated in sections <a href="/atomes-doc/chap-6/section-1/sub-section-2#movetab" data-reference-type="ref" data-reference="movetab">6.1.2.9</a> and <a href="/atomes-doc/chap-6/section-2/sub-section-1" data-reference-type="ref" data-reference="asel">6.2.1</a>, the effect on copy is the following:</p>
<div id="rbc">
<div align="center">
<figure>
<img src="/atomes-doc/img/edit/copy.png" id="rbc" style="width:16.5cm" alt="Illustration of the rebuild process, a fragment is copied from the top figure and pasted back in new projects. That fragment appears split because of the PBC: on the left the fragment is rebuild as a singe object, on the right the 2 pieces remain separated." />
<figcaption aria-hidden="true"><strong><span>Figure 6.1:</span></strong> Illustration of the rebuild process, a fragment is copied from the top figure and pasted back in new projects. That fragment appears split because of the PBC: on the left the fragment is rebuild as a singe object, on the right the 2 pieces remain separated.</figcaption>
<br /></figure>
</div>
