<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<p>The "<span><code>Cell edition</code></span>" window allows to adjust many parameters related to the periodicity of the material, and is accessible using any of the buttons of the "<span><code>Cell</code></span>" submenu [Fig. <a href="/atomes-doc/chap-6/section-1/sub-section-2#cedw" data-reference-type="ref" data-reference="cedw">6.9</a>].<br />
</p>
<div id="cedw">
<div align="center">
<figure>
<img src="/atomes-doc/img/edit/cell-m.png" id="cedw" style="width:11cm" alt="Accessing the &quot;Cell edition&quot; window in the atomes program." />
<figcaption aria-hidden="true"><strong><span>Figure 6.9:</span></strong> Accessing the "<span><code>Cell edition</code></span>" window in the <span><strong>atomes</strong></span> program.</figcaption>
<br /></figure>
</div>
</div>
<p>Each of the buttons in the "<span><code>Cell</code></span>" menu [Fig. <a href="/atomes-doc/chap-6/section-1/sub-section-2#cedw" data-reference-type="ref" data-reference="cedw">6.9</a>] allows to open the corresponding tab in the "<span><code>Cell edition</code></span>" window.<br />
Each of these tabs and the action they provide will be introduced in the following:</p>
<ul>
<li><p>The actions of the "<span><code>Cell edition</code></span>" window are accessible if and only if there is a model box.</p></li>
<li><p>The actions "<span><code>Create super-cell</code></span>", "<span><code>Adjust density</code></span>" and "<span><code>Cut slab</code></span>" are not available in the case of MD trajectory.</p></li>
</ul>
<h5 class="unnumbered" id="wrap-all-atoms-in">Wrap all atoms in</h5>
<p>The "<span><code>Wrap all atoms in</code></span>" button allows to wrap all atomic coordinates in the original unit cell.</p>
<ol>
<li><p>As illustrated bellow MD codes sometimes output MD trajectory / atomic coordinates in real coordinates, the visual assessment of such trajectory / atomic coordinates becomes complicated:</p>
<div align="center">
<p><img src="/atomes-doc/img/edit/cell/l-GeS2-nw.png" style="width:12cm" alt="image" /></p>
</div></li>
<li><p>To simplify the visual analysis <span><strong>atomes</strong></span> can put back all atoms back in the unit cell using the periodicity and the box parameters as described in the "<span><code>Box and periodicity</code></span>" dialog [Fig. <a href="/atomes-doc/chap-3/section-3/sub-section-1#bpd" data-reference-type="ref" data-reference="bpd">3.5</a>].<br />
Simply select the "<span><code>Wrap atomic coordinates in unit cell</code></span>" menu item from [Fig. <a href="/atomes-doc/chap-6/section-1/sub-section-2#cedw" data-reference-type="ref" data-reference="cedw">6.9</a>]:</p></li>
<li><p>The action being irreversible it is required to confirm it:</p>
<div align="center">
<p><img src="/atomes-doc/img/edit/cell/wrap_yn.png" style="width:9cm" alt="image" /></p>
</div></li>
<li><p>After confirmation the operation is performed and the OpenGL window updated:</p>
<div align="center">
<p><img src="/atomes-doc/img/edit/cell/l-GeS2-yw.png" style="width:12cm" alt="image" /></p>
</div></li>
</ol>
<h5 class="unnumbered" id="shift-center">Shift center</h5>
<p>The "<span><code>Shift center</code></span>" tab allows to shift the atomic coordinates within the unit cell:<br />
</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="3" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/shift/Ni-Phth.png" style="width:9cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/shift/shift-0.png" style="width:6.5cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"></td>
<td style="text-align: left;">&swArr;</td>
<td style="text-align: center;"></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="2" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/shift/Ni-Phth-s.png" style="width:9cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/shift/shift-y.png" style="width:6.5cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
</tbody>
</table>
<p><br />
It is possible to shift atomic coordinates along the <span><em><span>x</span></em></span>, <span><em><span>y</span></em></span> and/or <span><em><span>z</span></em></span> model axis. The periodicity is preserved and if needed bonding properties are re-evaluated on the fly during this operation.<br />
<br />
</p>
<h5 class="unnumbered" id="add-extras">Add extra(s)</h5>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="3" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/g-SiO2-311.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/cadex-311.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"></td>
<td style="text-align: left;">&swArr;</td>
<td style="text-align: center;"></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="3" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/g-SiO2-331.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/cadex-331.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"></td>
<td style="text-align: left;">&swArr;</td>
<td style="text-align: center;"></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="2" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/g-SiO2-333.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/extra-sup/cadex-333.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
</tbody>
</table>
<p>The "<span><code>Add extra(s)</code></span>" tab allows to add extra unit-cell(s) to the model, any object visible within the original unit cell will be duplicated (atom, bond, polyhedra, measure, label ...) as well. The duplicates cells are slightly translucent compared to the initial unit cell.</p>
<h5 class="unnumbered" id="create-super-cell">Create super-cell</h5>
<p>The "<span><code>Create super-cell</code></span>" button allows to change the periodicity of the system and transform the unit cell to the extended structure created after using the "<span><code>Add extra(s)</code></span>" tab.<br />
</p>
<div align="center">
<p><img src="/atomes-doc/img/edit/cell/extra-sup/g-SiO2-333-sc.png" style="width:10cm" alt="image" /></p>
</div>
<h5 class="unnumbered" id="adjust-density">Adjust density</h5>
<p>The "<span><code>Adjust density</code></span>" tab allows to modify the density of the material using homothetic rescaling that can be:</p>
<ul>
<li><p>Homogeneous: the <span class="math inline">\(\frac{a}{b}\)</span> and <span class="math inline">\(\frac{a}{c}\)</span> ratio of the initial unit cell are preserved</p></li>
<li><p>Heterogeneous: a, b, and c are adjust individually</p></li>
</ul>
<p>Note that to perform this operation any bonding information will be lost, and only the visual information will not be immediately erased. Therefore it is strongly recommended to recompute the bonding proprieties afterwards, this can not be done on the fly because changing the density is likely to require to change the bond cutoffs as well.</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="3" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/g-SiO2-m.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/cell-25.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"><span class="math inline">\(\Uparrow\)</span></td>
<td style="text-align: left;"></td>
<td style="text-align: center;"></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="3" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/g-SiO2-0.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="even">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/cell-35.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
<tr class="odd">
<td style="text-align: center;"><span class="math inline">\(\Downarrow\)</span></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"></td>
<td style="text-align: left;"></td>
<td rowspan="2" style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/g-SiO2-p.png" style="width:7cm" alt="image" /></td>
</tr>
<tr class="odd">
<td style="text-align: center;"><img src="/atomes-doc/img/edit/cell/dens/cell-45.png" style="width:6cm" alt="image" /></td>
<td style="text-align: left;"><span class="math inline">\(\Longrightarrow\)</span></td>
</tr>
</tbody>
</table>
<h5 class="unnumbered" id="cut-slab">Cut slab</h5>
<p>The "<span><code>Cut slab</code></span>" tab allows in the model using geometric patterns: parallelpiped, cylindrical and spherical. The "<span><code>Cut slab</code></span>" tab displays slab information, including slab volume and the number of atom of each chemical species inside it. The values are refreshed each time the shape, position size, and/or rotation of the slab is modified. Examples are presented in figure. <a href="/atomes-doc/chap-6/section-1/sub-section-2#excut" data-reference-type="ref" data-reference="excut">6.10</a>.<br />
</p>
<div id="excut">
<div align="center">
<figure>
<img src="/atomes-doc/img/edit/cell/cut/global.png" id="excut" style="width:18cm" alt="Model edition using the &quot;Cut slab&quot; tab, from left to right: 1) all atoms outside the sphere are deleted, 2) atoms inside the cylinder are selected, 3) all atoms in the parallelpiped slab are deleted and the results is exported in a new project." />
<figcaption aria-hidden="true"><strong><span>Figure 6.10:</span></strong> Model edition using the "<span><code>Cut slab</code></span>" tab, from left to right: 1) all atoms outside the sphere are deleted, 2) atoms inside the cylinder are selected, 3) all atoms in the parallelpiped slab are deleted and the results is exported in a new project.</figcaption>
<br /></figure>
</div>
</div>
